# GROUPBY

A groupby operation involves some combination of splitting the object, applying a function, 
and combining the results. 
This can be used to group large amounts of data and compute operations on these groups.

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('fortune1000.csv')

In [8]:
df.head(3)

,Rank,Company,Sector,Industry,Location,Revenue,Profits,Employees
0,1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
1,2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
2,3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Rank       1000 non-null   int64
 1   Company    1000 non-null   object
 2   Sector     1000 non-null   object
 3   Industry   1000 non-null   object
 4   Location   1000 non-null   object
 5   Revenue    1000 non-null   int64
 6   Profits    1000 non-null   int64
 7   Employees  1000 non-null   int64
dtypes: int64(4), object(4)
memory usage: 62.6+ KB

In [7]:
pwd

'C:\\Users\\hp\\OneDrive\\CLEAR\\3.A.PANDAS'

In [7]:
df.head(30)

,Rank,Company,Sector,Industry,Location,Revenue,Profits,Employees
0,1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
1,2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
2,3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
3,4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
4,5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
5,6,UnitedHealth Group,Health Care,Health Care: Insurance and Managed Care,"Minnetonka, MN",157107,5813,200000
6,7,CVS Health,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
7,8,General Motors,Motor Vehicles & Parts,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000
8,9,Ford Motor,Motor Vehicles & Parts,Motor Vehicles and Parts,"Dearborn, MI",149558,7373,199000
9,10,AT&T,Telecommunications,Telecommunications,"Dallas, TX",146801,13345,281450
10,11,General Electric,Industrials,Industrial Machinery,"Fairfield, CT",140389,-6126,333000
11,12,AmerisourceBergen,Health Care,Wholesalers: Health Care,"Chesterbrook, PA",135962,-135,17000
12,13,Verizon,Telecommunications,Telecommunications,"New York, NY",131620,17879,177700
13,14,Chevron,Energy,Petroleum Refining,"San Ramon, CA",131118,4587,61500
14,15,Costco,Retailing,Specialty Retailers: Other,"Issaquah, WA",116199,2377,161000
15,16,Fannie Mae,Financials,Diversified Financials,"Washington, DC",110359,10954,7300
16,17,Kroger,Food and Drug Stores,Food and Drug Stores,"Cincinnati, OH",109830,2039,431000
17,18,Amazon.com,Technology,Internet Services and Retailing,"Seattle, WA",107006,596,230800
18,19,Walgreens Boots Alliance,Food and Drug Stores,Food and Drug Stores,"Deerfield, IL",103444,4220,302500
19,20,HP,Technology,"Computers, Office Equipment","Palo Alto, CA",103355,4554,287000
20,21,Cardinal Health,Health Care,Wholesalers: Health Care,"Dublin, OH",102531,1215,34500
21,22,Express Scripts Holding,Health Care,Health Care: Pharmacy and Other Services,"St. Louis, MO",101752,2476,25900
22,23,J.P. Morgan Chase,Financials,Commercial Banks,"New York, NY",101006,24442,234598
23,24,Boeing,Aerospace & Defense,Aerospace and Defense,"Chicago, IL",96114,5176,161400
24,25,Microsoft,Technology,Computer Software,"Redmond, WA",93580,12193,118000
25,26,Bank of America Corp.,Financials,Commercial Banks,"Charlotte, NC",93056,15888,213280
26,27,Wells Fargo,Financials,Commercial Banks,"San Francisco, CA",90033,22894,264700
27,28,Home Depot,Retailing,Specialty Retailers: Other,"Atlanta, GA",88519,7009,385000
28,29,Citigroup,Financials,Commercial Banks,"New York, NY",88275,17242,231000
29,30,Phillips 66,Energy,Petroleum Refining,"Houston, TX",87169,4227,14000

In [9]:
df = df.drop(columns='Rank')

In [10]:
df.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
0,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
1,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
2,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [12]:
sectors = df.groupby("Sector")

In [17]:
# Data type is changed

In [10]:
type(df)

pandas.core.frame.DataFrame

In [8]:
sectors = df.groupby("Sector")

# Group of Data frame bundled towards one object

In [9]:
type(sectors)

pandas.core.groupby.generic.DataFrameGroupBy

In [14]:
type(sectors)

pandas.core.groupby.generic.DataFrameGroupBy

In [13]:
len(df)

1000

In [14]:
len(sectors)

21

In [15]:
sectors

In [16]:
len(df)

1000

In [17]:
len(sectors)

21

In [15]:
df.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
0,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
1,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
2,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [16]:
df['Sector'].value_counts()

Financials                      139
Energy                          122
Technology                      102
Retailing                        80
Health Care                      75
Business Services                51
Industrials                      46
Materials                        43
Food, Beverages & Tobacco        43
Wholesalers                      40
Transportation                   36
Chemicals                        30
Household Products               28
Engineering & Construction       26
Media                            25
Hotels, Resturants & Leisure     25
Motor Vehicles & Parts           24
Aerospace & Defense              20
Food and Drug Stores             15
Apparel                          15
Telecommunications               15
Name: Sector, dtype: int64

In [21]:
df.columns

Index(['Company', 'Sector', 'Industry', 'Location', 'Revenue', 'Profits',
       'Employees'],
      dtype='object')

In [22]:
negrbtech = df.groupby("Industry")

In [23]:
len(negrbtech)

73

In [27]:
pd.set_option('display.max_rows',None)

In [28]:
negrbtech.size().head(80)

Industry
Advertising, marketing                             2
Aerospace and Defense                             20
Airlines                                           9
Apparel                                           15
Automotive Retailing, Services                    10
Beverages                                          9
Building Materials, Glass                          7
Chemicals                                         30
Commercial Banks                                  28
Computer Peripherals                               4
Computer Software                                 14
Computers, Office Equipment                        7
Construction and Farm Machinery                    9
Diversified Financials                            15
Diversified Outsourcing Services                  14
Education                                          3
Electronics, Electrical Equip.                    13
Energy                                            14
Engineering, Construction                         14
Entertainment                                     18
Financial Data Services                           19
Food Consumer Products                            20
Food Production                                    9
Food Services                                     12
Food and Drug Stores                              15
Forest and Paper Products                          5
General Merchandisers                             10
Health Care: Insurance and Managed Care           11
Health Care: Medical Facilities                   14
Health Care: Pharmacy and Other Services          13
Home Equipment, Furnishings                       12
Homebuilders                                      12
Hotels, Casinos, Resorts                          13
Household and Personal Products                   13
Industrial Machinery                              23
Information Technology Services                   13
Insurance: Life, Health (Mutual)                  10
Insurance: Life, Health (stock)                   18
Insurance: Property and Casualty (Mutual)          7
Insurance: Property and Casualty (Stock)          28
Internet Services and Retailing                   15
Mail, Package, and Freight Delivery                2
Medical Products and Equipment                    16
Metals                                            14
Mining, Crude-Oil Production                      28
Miscellaneous                                     11
Motor Vehicles and Parts                          24
Network and Other Communications Equipment        14
Oil and Gas Equipment, Services                    9
Packaging, Containers                             16
Petroleum Refining                                17
Pharmaceuticals                                   15
Pipelines                                         12
Publishing, Printing                               7
Railroads                                          5
Real estate                                       15
Scientific,Photographic and Control Equipment     12
Securities                                        18
Semiconductors and Other Electronic Components    23
Specialty Retailers: Apparel                      18
Specialty Retailers: Other                        42
Telecommunications                                15
Temporary Help                                     5
Tobacco                                            5
Transportation Equipment                           5
Transportation and Logistics                       5
Trucking, Truck Leasing                            9
Utilities: Gas and Electric                       41
Waste Management                                   5
Wholesalers: Diversified                          25
Wholesalers: Electronics and Office Equipment      8
Wholesalers: Food and Grocery                      6
Wholesalers: Health Care                           6
dtype: int64

21 unique  sectors are aviable

In [17]:
df["Sector"].nunique()

21

In [19]:
sectors.size()

Sector
Aerospace & Defense              20
Apparel                          15
Business Services                51
Chemicals                        30
Energy                          122
Engineering & Construction       26
Financials                      139
Food and Drug Stores             15
Food, Beverages & Tobacco        43
Health Care                      75
Hotels, Resturants & Leisure     25
Household Products               28
Industrials                      46
Materials                        43
Media                            25
Motor Vehicles & Parts           24
Retailing                        80
Technology                      102
Telecommunications               15
Transportation                   36
Wholesalers                      40
dtype: int64

Retuns number of rows availble in each category
for that particular sub catebory

In [19]:
df["Sector"].value_counts()

Financials                      139
Energy                          122
Technology                      102
Retailing                        80
Health Care                      75
Business Services                51
Industrials                      46
Food, Beverages & Tobacco        43
Materials                        43
Wholesalers                      40
Transportation                   36
Chemicals                        30
Household Products               28
Engineering & Construction       26
Hotels, Resturants & Leisure     25
Media                            25
Motor Vehicles & Parts           24
Aerospace & Defense              20
Apparel                          15
Food and Drug Stores             15
Telecommunications               15
Name: Sector, dtype: int64

Retuns higher to lower values

In [31]:
sectors.first()

,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,
Aerospace & Defense,Boeing,Aerospace and Defense,"Chicago, IL",96114,5176,161400
Apparel,Nike,Apparel,"Beaverton, OR",30601,3273,62600
Business Services,ManpowerGroup,Temporary Help,"Milwaukee, WI",19330,419,27000
Chemicals,Dow Chemical,Chemicals,"Midland, MI",48778,7685,49495
Energy,Exxon Mobil,Petroleum Refining,"Irving, TX",246204,16150,75600
Engineering & Construction,Fluor,"Engineering, Construction","Irving, TX",18114,413,38758
Financials,Berkshire Hathaway,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
Food and Drug Stores,CVS Health,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
"Food, Beverages & Tobacco",Archer Daniels Midland,Food Production,"Chicago, IL",67702,1849,32300
Health Care,McKesson,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
"Hotels, Resturants & Leisure",McDonaldâ€™s,Food Services,"Oak Brook, IL",25413,4529,420000
Household Products,Procter & Gamble,Household and Personal Products,"Cincinnati, OH",78756,7036,110000
Industrials,General Electric,Industrial Machinery,"Fairfield, CT",140389,-6126,333000
Materials,Alcoa,Metals,"New York, NY",22534,-322,60000
Media,Disney,Entertainment,"Burbank, CA",52465,8382,185000
Motor Vehicles & Parts,General Motors,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000
Retailing,Walmart,General Merchandisers,"Bentonville, AR",482130,14694,2300000
Technology,Apple,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
Telecommunications,AT&T,Telecommunications,"Dallas, TX",146801,13345,281450
Transportation,UPS,"Mail, Package, and Freight Delivery","Atlanta, GA",58363,4844,341240
Wholesalers,Sysco,Wholesalers: Food and Grocery,"Houston, TX",48681,687,51700

In [12]:
df.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
0,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
1,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
2,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

Retuns first line of each sector

In [13]:
sectors.last()

,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,
Aerospace & Defense,Delta Tucker Holdings,Aerospace and Defense,"McLean, VA",1923,-133,12000
Apparel,Guess,Apparel,"Los Angeles, CA",2204,82,13500
Business Services,DeVry Education Group,Education,"Downers Grove, IL",1910,140,11770
Chemicals,H.B. Fuller,Chemicals,"St. Paul, MN",2084,87,4425
Energy,Portland General Electric,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
Engineering & Construction,MDC Holdings,Homebuilders,"Denver, CO",1909,66,1225
Financials,New York Community Bancorp,Commercial Banks,"Westbury, NY",1902,-47,3448
Food and Drug Stores,Fredâ€™s,Food and Drug Stores,"Memphis, TN",2151,-7,7103
"Food, Beverages & Tobacco",Alliance One International,Tobacco,"Morrisville, NC",2066,-15,6835
Health Care,Providence Service,Health Care: Pharmacy and Other Services,"Tucson, AZ",1987,84,9072
"Hotels, Resturants & Leisure",Wendyâ€™s,Food Services,"Dublin, OH",1896,161,21200
Household Products,Revlon,Household and Personal Products,"New York, NY",1914,56,5700
Industrials,Briggs & Stratton,Industrial Machinery,"Wauwatosa, WI",1895,46,5480
Materials,Schnitzer Steel Industries,Metals,"Portland, OR",1924,-197,2955
Media,Cenveo,"Publishing, Printing","Stamford, CT",1921,-31,7300
Motor Vehicles & Parts,Allison Transmission Holdings,Motor Vehicles and Parts,"Indianaoplis, IN",1986,182,2700
Retailing,99 Cents Only Stores,Specialty Retailers: Other,"Commerce, CA",1999,-232,18200
Technology,F5 Networks,Network and Other Communications Equipment,"Seattle, WA",1920,365,4178
Telecommunications,Equinix,Telecommunications,"Redwood City, CA",2726,188,5042
Transportation,Roadrunner Transportation Systems,Transportation and Logistics,"Cudahy, WI",1995,48,4502
Wholesalers,BlueLinx Holdings,Wholesalers: Diversified,"Atlanta, GA",1917,-12,1600

Returns last line of each sector

In [32]:
#sectors.groups

# Groups provides us dictionary

{'Aerospace & Defense': Int64Index([ 24,  45,  60,  88, 118, 120, 209, 245, 282, 378, 389, 490, 560,
             605, 785, 788, 836, 903, 958, 987],
            dtype='int64', name='Rank'),
 'Apparel': Int64Index([91, 231, 340, 354, 448, 547, 575, 597, 683, 695, 726, 794, 877,
             882, 917],
            dtype='int64', name='Rank'),
 'Business Services': Int64Index([144, 186, 199, 204, 221, 248, 249, 294, 307, 312, 355, 392, 404,
             440, 467, 468, 481, 485, 492, 503, 545, 626, 635, 652, 677, 694,
             714, 729, 734, 735, 737, 744, 767, 776, 777, 783, 791, 792, 796,
             801, 803, 816, 819, 820, 869, 870, 886, 939, 951, 952, 993],
            dtype='int64', name='Rank'),
 'Chemicals': Int64Index([ 56, 101, 182, 189, 206, 253, 262, 277, 288, 296, 316, 538, 549,
             555, 566, 580, 613, 624, 654, 668, 717, 720, 724, 758, 761, 829,
             865, 898, 934, 949],
            dtype='int64', name='Rank'),
 'Energy': Int64Index([  2,  14,  30,  32,  42,  65,  90,  95,  98, 104,
             ...
             953, 955, 962, 966, 980, 981, 983, 995, 997, 997],
            dtype='int64', name='Rank', length=122),
 'Engineering & Construction': Int64Index([155, 156, 235, 260, 301, 314, 352, 381, 433, 478, 498, 501, 516,
             572, 576, 640, 719, 738, 822, 863, 874, 892, 929, 963, 985, 994],
            dtype='int64', name='Rank'),
 'Financials': Int64Index([  4,  16,  23,  26,  27,  29,  35,  40,  43,  49,
             ...
             920, 923, 925, 926, 936, 938, 959, 976, 988, 996],
            dtype='int64', name='Rank', length=139),
 'Food and Drug Stores': Int64Index([7, 17, 19, 87, 107, 160, 181, 595, 614, 631, 669, 756, 809, 849,
             928],
            dtype='int64', name='Rank'),
 'Food, Beverages & Tobacco': Int64Index([ 41,  44,  62,  66,  84,  94, 106, 149, 153, 161, 176, 207, 215,
             242, 266, 304, 336, 337, 362, 397, 413, 429, 452, 456, 460, 535,
             542, 567, 574, 587, 608, 615, 636, 664, 686, 702, 770, 787, 795,
             804, 889, 902, 954],
            dtype='int64', name='Rank'),
 'Health Care': Int64Index([  5,   6,  12,  21,  22,  33,  39,  46,  52,  55,  63,  72,  79,
              86, 123, 124, 125, 130, 138, 140, 141, 168, 172, 200, 201, 202,
             263, 268, 278, 286, 287, 290, 291, 305, 325, 358, 359, 372, 420,
             430, 431, 447, 457, 465, 469, 515, 527, 537, 553, 559, 583, 618,
             629, 661, 684, 693, 697, 708, 746, 749, 766, 775, 790, 799, 815,
             818, 845, 868, 881, 883, 935, 960, 965, 977, 978],
            dtype='int64', name='Rank'),
 'Hotels, Resturants & Leisure': Int64Index([109, 146, 195, 218, 241, 254, 309, 371, 444, 466, 534, 546, 557,
             562, 585, 731, 763, 764, 779, 797, 895, 915, 918, 941, 999],
            dtype='int64', name='Rank'),
 'Household Products': Int64Index([ 34, 151, 174, 256, 261, 328, 338, 345, 370, 434, 441, 450, 455,
             533, 550, 554, 601, 665, 699, 716, 856, 890, 900, 907, 932, 950,
             967, 992],
            dtype='int64', name='Rank'),
 'Industrials': Int64Index([  11,   59,   75,   93,   97,  128,  134,  148,  211,  224,  360,
              377,  396,  412,  419,  539,  544,  596,  622,  623,  630,  645,
              655,  658,  666,  674,  690,  757,  782,  789,  806,  813,  823,
              831,  832,  835,  841,  847,  866,  867,  873,  887,  942,  947,
              964, 1000],
            dtype='int64', name='Rank'),
 'Materials': Int64Index([126, 127, 170, 244, 251, 303, 321, 341, 356, 373, 375, 383, 417,
             418, 426, 435, 446, 480, 489, 514, 518, 577, 586, 616, 617, 620,
             625, 628, 637, 639, 641, 660, 667, 687, 691, 751, 774, 793, 857,
             885, 911, 982, 986],
            dtype='int64', name='Rank'),
 'Media': Int64Index([ 53,  96,  99, 203, 213, 255, 327, 366, 406, 414, 525, 530, 681,
             705, 707, 722, 741, 752, 759, 762, 821, 913, 968, 969, 989],
            dtype='int64', name='Rank'),
 'Motor Vehicles & Parts': Int64Index([  8,   9,  70, 147, 154, 169, 281, 310, 334, 339, 424, 428, 470,
             588, 591, 604, 647, 670, 718, 739, 811, 957, 961, 979],
            dtype='int64', name='Rank'),
 'Retailing': Int64Index([  1,  15,  28,  38,  47,  71,  89, 103, 111, 132, 136, 139, 143,
             145, 177, 180, 191, 196, 197, 228, 234, 237, 238, 240, 258, 267,
             269, 280, 293, 297, 299, 302, 330, 342, 346, 361, 365, 374, 379,
             380, 393, 415, 427, 439, 495, 500, 502, 511, 512, 517, 523, 582,
             592, 602, 607, 610, 621, 643, 644, 648, 657, 675, 689, 721, 748,
             771, 773, 807, 812, 824, 825, 827, 840, 876, 894, 899, 922, 937,
             940, 973],
            dtype='int64', name='Rank'),
 'Technology': Int64Index([  3,  18,  20,  25,  31,  36,  51,  54,  77, 110,
             ...
             931, 943, 944, 946, 956, 970, 971, 975, 984, 990],
            dtype='int64', name='Rank', length=102),
 'Telecommunications': Int64Index([10, 13, 37, 116, 159, 187, 292, 333, 399, 443, 461, 496, 526, 619,
             786],
            dtype='int64', name='Rank'),
 'Transportation': Int64Index([ 48,  58,  67,  68,  80, 129, 142, 208, 239, 270, 353, 390, 395,
             405, 407, 416, 432, 459, 521, 528, 570, 578, 642, 672, 709, 713,
             740, 800, 814, 858, 884, 930, 933, 945, 972, 974],
            dtype='int64', name='Rank'),
 'Wholesalers': Int64Index([ 57,  64,  92, 102, 108, 119, 122, 167, 183, 185, 212, 276, 285,
             315, 317, 320, 323, 335, 351, 357, 369, 391, 423, 463, 474, 477,
             484, 564, 581, 599, 627, 653, 685, 727, 747, 780, 808, 837, 875,
             991],
            dtype='int64', name='Rank')}

In [14]:
sectors

# get_group() Method

In [36]:
df.head(3)

,Rank,Company,Sector,Industry,Location,Revenue,Profits,Employees
0,1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
1,2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
2,3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [22]:
sectors.get_group("Energy")

,Company,Industry,Location,Revenue,Profits,Employees
1,Exxon Mobil,Petroleum Refining,"Irving, TX",246204,16150,75600
13,Chevron,Petroleum Refining,"San Ramon, CA",131118,4587,61500
29,Phillips 66,Petroleum Refining,"Houston, TX",87169,4227,14000
31,Valero Energy,Petroleum Refining,"San Antonio, TX",81824,3990,10103
41,Marathon Petroleum,Petroleum Refining,"Findlay, OH",64566,2852,45440
...,...,...,...,...,...,...
980,WPX Energy,"Mining, Crude-Oil Production","Tulsa, OK",1958,-1727,1040
982,Adams Resources & Energy,Petroleum Refining,"Houston, TX",1944,-1,809
994,EP Energy,"Mining, Crude-Oil Production","Houston, TX",1908,-3748,665
996,Portland General Electric,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
997,Portland General Electric,Utilities: Gas and Electric,"Portland, OR",1898,172,2646

In [23]:
sectors.get_group("Technology")

,Company,Industry,Location,Revenue,Profits,Employees
2,Apple,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
17,Amazon.com,Internet Services and Retailing,"Seattle, WA",107006,596,230800
19,HP,"Computers, Office Equipment","Palo Alto, CA",103355,4554,287000
24,Microsoft,Computer Software,"Redmond, WA",93580,12193,118000
30,IBM,Information Technology Services,"Armonk, NY",82461,13190,411798
...,...,...,...,...,...,...
969,Rackspace Hosting,Internet Services and Retailing,"San Antonio, TX",2001,126,6189
970,VeriFone Systems,"Computers, Office Equipment","San Jose, CA",2001,79,5400
974,Super Micro Computer,"Computers, Office Equipment","San Jose, CA",1991,102,2285
983,Nuance Communications,Computer Software,"Burlington, MA",1931,-115,13500
989,F5 Networks,Network and Other Communications Equipment,"Seattle, WA",1920,365,4178

In [24]:
sectors.get_group("Apparel")

,Company,Industry,Location,Revenue,Profits,Employees
90,Nike,Apparel,"Beaverton, OR",30601,3273,62600
230,VF,Apparel,"Greensboro, NC",12377,1232,64000
339,PVH,Apparel,"New York, NY",8020,572,26200
353,Ralph Lauren,Apparel,"New York, NY",7620,702,20000
447,Hanesbrands,Apparel,"Winston-Salem, NC",5732,429,65300
546,Levi Strauss,Apparel,"San Francisco, CA",4495,209,12500
574,Coach,Apparel,"New York, NY",4192,402,12950
596,Under Armour,Apparel,"Baltimore, MD",3963,233,9600
682,Fossil Group,Apparel,"Richardson, TX",3229,221,15100
694,Skechers U.S.A.,Apparel,"Manhattan Beach, CA",3159,232,6400
725,Carterâ€™s,Apparel,"Atlanta, GA",3014,238,16800
793,Wolverine World Wide,Apparel,"Rockford, MI",2692,123,6550
876,G-III Apparel Group,Apparel,"New York, NY",2344,114,8919
881,Columbia Sportswear,Apparel,"Portland, OR",2326,174,5978
916,Guess,Apparel,"Los Angeles, CA",2204,82,13500

In [25]:
df["Sector"] == "Apparel"
df[df["Sector"] == "Apparel"]

,Company,Sector,Industry,Location,Revenue,Profits,Employees
90,Nike,Apparel,Apparel,"Beaverton, OR",30601,3273,62600
230,VF,Apparel,Apparel,"Greensboro, NC",12377,1232,64000
339,PVH,Apparel,Apparel,"New York, NY",8020,572,26200
353,Ralph Lauren,Apparel,Apparel,"New York, NY",7620,702,20000
447,Hanesbrands,Apparel,Apparel,"Winston-Salem, NC",5732,429,65300
546,Levi Strauss,Apparel,Apparel,"San Francisco, CA",4495,209,12500
574,Coach,Apparel,Apparel,"New York, NY",4192,402,12950
596,Under Armour,Apparel,Apparel,"Baltimore, MD",3963,233,9600
682,Fossil Group,Apparel,Apparel,"Richardson, TX",3229,221,15100
694,Skechers U.S.A.,Apparel,Apparel,"Manhattan Beach, CA",3159,232,6400
725,Carterâ€™s,Apparel,Apparel,"Atlanta, GA",3014,238,16800
793,Wolverine World Wide,Apparel,Apparel,"Rockford, MI",2692,123,6550
876,G-III Apparel Group,Apparel,Apparel,"New York, NY",2344,114,8919
881,Columbia Sportswear,Apparel,Apparel,"Portland, OR",2326,174,5978
916,Guess,Apparel,Apparel,"Los Angeles, CA",2204,82,13500

# Gropup By OBJECT

In [26]:
sectors.min()

,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,
Aerospace & Defense,B/E Aerospace,Aerospace and Defense,"Berwyn, PA",1923,-240,6955
Apparel,Carterâ€™s,Apparel,"Atlanta, GA",2204,82,5978
Business Services,ABM Industries,"Advertising, marketing","Arlington, VA",1910,-1481,2400
Chemicals,A. Schulman,Chemicals,"Allentown, PA",2084,-816,1979
Energy,AES,Energy,"Akron, OH",1898,-23119,480
Engineering & Construction,AECOM,"Engineering, Construction","Atlanta, GA",1909,-155,1036
Financials,AIG,Commercial Banks,"Atlanta, GA",1902,-1194,187
Food and Drug Stores,CVS Health,Food and Drug Stores,"Austin, TX",2151,-62,1616
"Food, Beverages & Tobacco",Alliance One International,Beverages,"Arden Hills, MN",2066,-253,1857
Health Care,AbbVie,Health Care: Insurance and Managed Care,"Abbott Park, IL",1987,-458,2924
"Hotels, Resturants & Leisure",Bloominâ€™ Brands,Food Services,"Ann Arbor, MI",1896,-1394,8500
Household Products,Avon Products,"Home Equipment, Furnishings","Atlanta, GA",1914,-1149,4406
Industrials,3M,Construction and Farm Machinery,"Annapolis Junction, MD",1895,-6126,4104
Materials,A-Mark Precious Metals,"Building Materials, Glass","Atlanta, GA",1924,-1642,52
Media,AMC Networks,Entertainment,"Beverly Hills, CA",1921,-881,2341
Motor Vehicles & Parts,Allison Transmission Holdings,Motor Vehicles and Parts,"Akron, OH",1986,-889,2700
Retailing,99 Cents Only Stores,"Automotive Retailing, Services","Ankeny, IA",1999,-1243,2155
Technology,Activision Blizzard,Computer Peripherals,"Angleton, TX",1920,-4359,2285
Telecommunications,AT&T,Telecommunications,"Bethpage, NY",2726,-271,2700
Transportation,Alaska Air Group,Airlines,"Atlanta, GA",1995,-191,1223
Wholesalers,Airgas,Miscellaneous,"Atlanta, GA",1917,-502,500

In [40]:
# Returns Sectors as index labels 

#Returns Aplhabetical ranking in desecding

In [32]:
sectors.max()

,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,
Aerospace & Defense,Woodward,Aerospace and Defense,"Wichita, KS",96114,7608,197200
Apparel,Wolverine World Wide,Apparel,"Winston-Salem, NC",30601,3273,65300
Business Services,Western Union,Waste Management,"Troy, MI",19330,6328,216500
Chemicals,Westlake Chemical,Chemicals,"Wilmington, DE",48778,7685,52000
Energy,Xcel Energy,Utilities: Gas and Electric,"Washington, DC",246204,16150,75600
Engineering & Construction,Tutor Perini,Homebuilders,"Watsonville, CA",18114,803,92000
Financials,Zions Bancorp.,Securities,"Worcester, MA",210821,24442,331000
Food and Drug Stores,Whole Foods Market,Food and Drug Stores,"Woonsocket, RI",153290,5237,431000
"Food, Beverages & Tobacco",WhiteWave Foods,Tobacco,"Winston-Salem, NC",67702,7351,263000
Health Care,inVentiv Health,Wholesalers: Health Care,"York, PA",181241,18108,203500
"Hotels, Resturants & Leisure",Yum Brands,"Hotels, Casinos, Resorts","Wyomissing, PA",25413,5920,505000
Household Products,Vista Outdoor,Miscellaneous,"Zeeland, MI",78756,7036,110000
Industrials,Zebra Technologies,Miscellaneous,"Wilmerding, PA",140389,4833,333000
Materials,Worthington Industries,"Packaging, Containers","Wyomissing, PA",22534,991,60000
Media,iHeartMedia,"Publishing, Printing","Sussex, WI",52465,8382,185000
Motor Vehicles & Parts,Wabash National,Motor Vehicles and Parts,"Van Buren Township, MI",152356,9687,215000
Retailing,hhgregg,Specialty Retailers: Other,"York, PA",482130,14694,2300000
Technology,salesforce.com,Semiconductors and Other Electronic Components,"Woburn, MA",233715,53394,411798
Telecommunications,Windstream Holdings,Telecommunications,"Stamford, CT",146801,17879,281450
Transportation,YRC Worldwide,"Trucking, Truck Leasing","Thomasville, NC",58363,7610,341240
Wholesalers,World Fuel Services,Wholesalers: Food and Grocery,"Waltham, MA",48681,1472,78500

In [33]:
sectors["Revenue"].max()

Sector
Aerospace & Defense              96114
Apparel                          30601
Business Services                19330
Chemicals                        48778
Energy                          246204
Engineering & Construction       18114
Financials                      210821
Food and Drug Stores            153290
Food, Beverages & Tobacco        67702
Health Care                     181241
Hotels, Resturants & Leisure     25413
Household Products               78756
Industrials                     140389
Materials                        22534
Media                            52465
Motor Vehicles & Parts          152356
Retailing                       482130
Technology                      233715
Telecommunications              146801
Transportation                   58363
Wholesalers                      48681
Name: Revenue, dtype: int64

In [42]:
# Returns Sectors as index labels 

#Returns Aplhabetical ranking in ascending

In [28]:
sectors.sum()

#Returns sum of Revenue of Aerospace

                              Revenue  Profits  Employees
Sector
Aerospace & Defense            357940    28742     968057
Apparel                         95968     8236     346397
Business Services              272195    28227    1361050
Chemicals                      243897    22628     463651
Energy                        1517809   -73447    1188927
Engineering & Construction     153983     5304     406708
Financials                    2217159   260209    3359948
Food and Drug Stores           483769    16759    1395398
Food, Beverages & Tobacco      555967    51417    1211632
Health Care                   1614707   106114    2678289
Hotels, Resturants & Leisure   169546    20697    2484245
Household Products             234737    14428     646038
Industrials                    497581    20764    1545229
Materials                      259145     4428     638123
Media                          220764    24347     550314
Motor Vehicles & Parts         482540    25898    1082560
Retailing                     1465076    47830    6227629
Technology                    1377600   180473    3578949
Telecommunications             461834    48637     832468
Transportation                 408508    44169    1536793
Wholesalers                    444800     8233     525597

In [16]:
sectors.mean()

                                   Revenue      Profits     Employees
Sector
Aerospace & Defense           17897.000000  1437.100000  48402.850000
Apparel                        6397.866667   549.066667  23093.133333
Business Services              5337.156863   553.470588  26687.254902
Chemicals                      8129.900000   754.266667  15455.033333
Energy                        12441.057377  -602.024590   9745.303279
Engineering & Construction     5922.423077   204.000000  15642.615385
Financials                    15950.784173  1872.007194  24172.287770
Food and Drug Stores          32251.266667  1117.266667  93026.533333
Food, Beverages & Tobacco     12929.465116  1195.744186  28177.488372
Health Care                   21529.426667  1414.853333  35710.520000
Hotels, Resturants & Leisure   6781.840000   827.880000  99369.800000
Household Products             8383.464286   515.285714  23072.785714
Industrials                   10816.978261   451.391304  33591.934783
Materials                      6026.627907   102.976744  14840.069767
Media                          8830.560000   973.880000  22012.560000
Motor Vehicles & Parts        20105.833333  1079.083333  45106.666667
Retailing                     18313.450000   597.875000  77845.362500
Technology                    13505.882353  1769.343137  35087.735294
Telecommunications            30788.933333  3242.466667  55497.866667
Transportation                11347.444444  1226.916667  42688.694444
Wholesalers                   11120.000000   205.825000  13139.925000

In [34]:
df.columns

Index(['Company', 'Sector', 'Industry', 'Location', 'Revenue', 'Profits',
       'Employees'],
      dtype='object')

In [29]:
#Another method

sectors.get_group("Apparel")["Revenue"].sum()

95968

In [30]:
sectors.get_group("Apparel")["Revenue"].max()

30601

In [42]:
sectors.get_group("Energy")['Revenue'].sum()

1517809

array(['General Merchandisers', 'Petroleum Refining',
       'Computers, Office Equipment',
       'Insurance: Property and Casualty (Stock)',
       'Wholesalers: Health Care',
       'Health Care: Insurance and Managed Care', 'Food and Drug Stores',
       'Motor Vehicles and Parts', 'Telecommunications',
       'Industrial Machinery', 'Specialty Retailers: Other',
       'Diversified Financials', 'Internet Services and Retailing',
       'Health Care: Pharmacy and Other Services', 'Commercial Banks',
       'Aerospace and Defense', 'Computer Software',
       'Information Technology Services',
       'Household and Personal Products',
       'Insurance: Property and Casualty (Mutual)', 'Pharmaceuticals',
       'Insurance: Life, Health (stock)', 'Food Production',
       'Food Consumer Products', 'Mail, Package, and Freight Delivery',
       'Semiconductors and Other Electronic Components', 'Entertainment',
       'Network and Other Communications Equipment', 'Chemicals',
       'Wholesalers: Food and Grocery', 'Construction and Farm Machinery',
       'Insurance: Life, Health (Mutual)', 'Beverages',
       'Health Care: Medical Facilities',
       'Wholesalers: Electronics and Office Equipment', 'Pipelines',
       'Airlines', 'Electronics, Electrical Equip.',
       'Specialty Retailers: Apparel', 'Mining, Crude-Oil Production',
       'Apparel', 'Wholesalers: Diversified', 'Miscellaneous',
       'Utilities: Gas and Electric', 'Tobacco', 'Food Services',
       'Computer Peripherals', 'Oil and Gas Equipment, Services',
       'Metals', 'Packaging, Containers', 'Railroads',
       'Scientific,Photographic and Control Equipment',
       'Automotive Retailing, Services', 'Medical Products and Equipment',
       'Temporary Help', 'Engineering, Construction',
       'Advertising, marketing', 'Energy', 'Hotels, Casinos, Resorts',
       'Diversified Outsourcing Services', 'Financial Data Services',
       'Transportation and Logistics', 'Waste Management', 'Securities',
       'Publishing, Printing', 'Home Equipment, Furnishings',
       'Real estate', 'Homebuilders', 'Forest and Paper Products',
       'Trucking, Truck Leasing', 'Transportation Equipment',
       'Building Materials, Glass', 'Education'], dtype=object)

In [38]:
df.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
0,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
1,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
2,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [31]:
sectors.get_group("Energy")

,Company,Industry,Location,Revenue,Profits,Employees
1,Exxon Mobil,Petroleum Refining,"Irving, TX",246204,16150,75600
13,Chevron,Petroleum Refining,"San Ramon, CA",131118,4587,61500
29,Phillips 66,Petroleum Refining,"Houston, TX",87169,4227,14000
31,Valero Energy,Petroleum Refining,"San Antonio, TX",81824,3990,10103
41,Marathon Petroleum,Petroleum Refining,"Findlay, OH",64566,2852,45440
...,...,...,...,...,...,...
980,WPX Energy,"Mining, Crude-Oil Production","Tulsa, OK",1958,-1727,1040
982,Adams Resources & Energy,Petroleum Refining,"Houston, TX",1944,-1,809
994,EP Energy,"Mining, Crude-Oil Production","Houston, TX",1908,-3748,665
996,Portland General Electric,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
997,Portland General Electric,Utilities: Gas and Electric,"Portland, OR",1898,172,2646

In [43]:
df.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
0,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
1,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
2,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [49]:
 df.groupby("Industry")

In [53]:
ind.get_group('Petroleum Refining')['Employees'].sum()

244880

In [32]:
df

,Company,Sector,Industry,Location,Revenue,Profits,Employees
0,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
1,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
2,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
3,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
4,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
...,...,...,...,...,...,...,...
995,New York Community Bancorp,Financials,Commercial Banks,"Westbury, NY",1902,-47,3448
996,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
998,Wendyâ€™s,"Hotels, Resturants & Leisure",Food Services,"Dublin, OH",1896,161,21200
999,Briggs & Stratton,Industrials,Industrial Machinery,"Wauwatosa, WI",1895,46,5480

In [33]:
sectors.mean()

                                   Revenue      Profits     Employees
Sector
Aerospace & Defense           17897.000000  1437.100000  48402.850000
Apparel                        6397.866667   549.066667  23093.133333
Business Services              5337.156863   553.470588  26687.254902
Chemicals                      8129.900000   754.266667  15455.033333
Energy                        12441.057377  -602.024590   9745.303279
Engineering & Construction     5922.423077   204.000000  15642.615385
Financials                    15950.784173  1872.007194  24172.287770
Food and Drug Stores          32251.266667  1117.266667  93026.533333
Food, Beverages & Tobacco     12929.465116  1195.744186  28177.488372
Health Care                   21529.426667  1414.853333  35710.520000
Hotels, Resturants & Leisure   6781.840000   827.880000  99369.800000
Household Products             8383.464286   515.285714  23072.785714
Industrials                   10816.978261   451.391304  33591.934783
Materials                      6026.627907   102.976744  14840.069767
Media                          8830.560000   973.880000  22012.560000
Motor Vehicles & Parts        20105.833333  1079.083333  45106.666667
Retailing                     18313.450000   597.875000  77845.362500
Technology                    13505.882353  1769.343137  35087.735294
Telecommunications            30788.933333  3242.466667  55497.866667
Transportation                11347.444444  1226.916667  42688.694444
Wholesalers                   11120.000000   205.825000  13139.925000

In [34]:
sectors["Revenue"].sum()

Sector
Aerospace & Defense              357940
Apparel                           95968
Business Services                272195
Chemicals                        243897
Energy                          1517809
Engineering & Construction       153983
Financials                      2217159
Food and Drug Stores             483769
Food, Beverages & Tobacco        555967
Health Care                     1614707
Hotels, Resturants & Leisure     169546
Household Products               234737
Industrials                      497581
Materials                        259145
Media                            220764
Motor Vehicles & Parts           482540
Retailing                       1465076
Technology                      1377600
Telecommunications               461834
Transportation                   408508
Wholesalers                      444800
Name: Revenue, dtype: int64

In [35]:
sectors["Employees"].sum()

Sector
Aerospace & Defense              968057
Apparel                          346397
Business Services               1361050
Chemicals                        463651
Energy                          1188927
Engineering & Construction       406708
Financials                      3359948
Food and Drug Stores            1395398
Food, Beverages & Tobacco       1211632
Health Care                     2678289
Hotels, Resturants & Leisure    2484245
Household Products               646038
Industrials                     1545229
Materials                        638123
Media                            550314
Motor Vehicles & Parts          1082560
Retailing                       6227629
Technology                      3578949
Telecommunications               832468
Transportation                  1536793
Wholesalers                      525597
Name: Employees, dtype: int64

In [36]:
sectors["Profits"].max()

Sector
Aerospace & Defense              7608
Apparel                          3273
Business Services                6328
Chemicals                        7685
Energy                          16150
Engineering & Construction        803
Financials                      24442
Food and Drug Stores             5237
Food, Beverages & Tobacco        7351
Health Care                     18108
Hotels, Resturants & Leisure     5920
Household Products               7036
Industrials                      4833
Materials                         991
Media                            8382
Motor Vehicles & Parts           9687
Retailing                       14694
Technology                      53394
Telecommunications              17879
Transportation                   7610
Wholesalers                      1472
Name: Profits, dtype: int64

In [37]:
sectors["Profits"].min()

Sector
Aerospace & Defense              -240
Apparel                            82
Business Services               -1481
Chemicals                        -816
Energy                         -23119
Engineering & Construction       -155
Financials                      -1194
Food and Drug Stores              -62
Food, Beverages & Tobacco        -253
Health Care                      -458
Hotels, Resturants & Leisure    -1394
Household Products              -1149
Industrials                     -6126
Materials                       -1642
Media                            -881
Motor Vehicles & Parts           -889
Retailing                       -1243
Technology                      -4359
Telecommunications               -271
Transportation                   -191
Wholesalers                      -502
Name: Profits, dtype: int64

In [38]:
sectors["Employees"].mean()

Sector
Aerospace & Defense             48402.850000
Apparel                         23093.133333
Business Services               26687.254902
Chemicals                       15455.033333
Energy                           9745.303279
Engineering & Construction      15642.615385
Financials                      24172.287770
Food and Drug Stores            93026.533333
Food, Beverages & Tobacco       28177.488372
Health Care                     35710.520000
Hotels, Resturants & Leisure    99369.800000
Household Products              23072.785714
Industrials                     33591.934783
Materials                       14840.069767
Media                           22012.560000
Motor Vehicles & Parts          45106.666667
Retailing                       77845.362500
Technology                      35087.735294
Telecommunications              55497.866667
Transportation                  42688.694444
Wholesalers                     13139.925000
Name: Employees, dtype: float64

In [39]:
sectors[["Profits", "Revenue"]].mean()

                                  Profits       Revenue
Sector
Aerospace & Defense           1437.100000  17897.000000
Apparel                        549.066667   6397.866667
Business Services              553.470588   5337.156863
Chemicals                      754.266667   8129.900000
Energy                        -602.024590  12441.057377
Engineering & Construction     204.000000   5922.423077
Financials                    1872.007194  15950.784173
Food and Drug Stores          1117.266667  32251.266667
Food, Beverages & Tobacco     1195.744186  12929.465116
Health Care                   1414.853333  21529.426667
Hotels, Resturants & Leisure   827.880000   6781.840000
Household Products             515.285714   8383.464286
Industrials                    451.391304  10816.978261
Materials                      102.976744   6026.627907
Media                          973.880000   8830.560000
Motor Vehicles & Parts        1079.083333  20105.833333
Retailing                      597.875000  18313.450000
Technology                    1769.343137  13505.882353
Telecommunications            3242.466667  30788.933333
Transportation                1226.916667  11347.444444
Wholesalers                    205.825000  11120.000000

# GROUPIN BY MULTIPLE COLUMNS

In [40]:
df.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
0,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
1,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
2,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [41]:
sectors = df.groupby(["Sector", "Industry"])

In [42]:
sectors.size()

Sector               Industry
Aerospace & Defense  Aerospace and Defense                            20
Apparel              Apparel                                          15
Business Services    Advertising, marketing                            2
                     Diversified Outsourcing Services                 14
                     Education                                         3
                                                                      ..
Transportation       Trucking, Truck Leasing                           9
Wholesalers          Miscellaneous                                     1
                     Wholesalers: Diversified                         25
                     Wholesalers: Electronics and Office Equipment     8
                     Wholesalers: Food and Grocery                     6
Length: 79, dtype: int64

In [43]:
sectors.sum()

                                                                   Revenue  \
Sector              Industry
Aerospace & Defense Aerospace and Defense                           357940
Apparel             Apparel                                          95968
Business Services   Advertising, marketing                           22748
                    Diversified Outsourcing Services                 64829
                    Education                                         7485
...                                                                    ...
Transportation      Trucking, Truck Leasing                          35950
Wholesalers         Miscellaneous                                     8982
                    Wholesalers: Diversified                        176138
                    Wholesalers: Electronics and Office Equipment   147906
                    Wholesalers: Food and Grocery                   111774

                                                                   Profits  \
Sector              Industry
Aerospace & Defense Aerospace and Defense                            28742
Apparel             Apparel                                           8236
Business Services   Advertising, marketing                            1549
                    Diversified Outsourcing Services                  4305
                    Education                                           69
...                                                                    ...
Transportation      Trucking, Truck Leasing                           1910
Wholesalers         Miscellaneous                                       17
                    Wholesalers: Diversified                          5193
                    Wholesalers: Electronics and Office Equipment     1857
                    Wholesalers: Food and Grocery                     1166

                                                                   Employees
Sector              Industry
Aerospace & Defense Aerospace and Defense                             968057
Apparel             Apparel                                           346397
Business Services   Advertising, marketing                            124100
                    Diversified Outsourcing Services                  708330
                    Education                                          46755
...                                                                      ...
Transportation      Trucking, Truck Leasing                           170456
Wholesalers         Miscellaneous                                       9200
                    Wholesalers: Diversified                          233831
                    Wholesalers: Electronics and Office Equipment     166661
                    Wholesalers: Food and Grocery                     115905

[79 rows x 3 columns]

In [44]:
sectors["Revenue"].sum()

Sector               Industry
Aerospace & Defense  Aerospace and Defense                            357940
Apparel              Apparel                                           95968
Business Services    Advertising, marketing                            22748
                     Diversified Outsourcing Services                  64829
                     Education                                          7485
                                                                       ...
Transportation       Trucking, Truck Leasing                           35950
Wholesalers          Miscellaneous                                      8982
                     Wholesalers: Diversified                         176138
                     Wholesalers: Electronics and Office Equipment    147906
                     Wholesalers: Food and Grocery                    111774
Name: Revenue, Length: 79, dtype: int64

In [45]:
sectors["Employees"].mean()

Sector               Industry
Aerospace & Defense  Aerospace and Defense                            48402.850000
Apparel              Apparel                                          23093.133333
Business Services    Advertising, marketing                           62050.000000
                     Diversified Outsourcing Services                 50595.000000
                     Education                                        15585.000000
                                                                          ...
Transportation       Trucking, Truck Leasing                          18939.555556
Wholesalers          Miscellaneous                                     9200.000000
                     Wholesalers: Diversified                          9353.240000
                     Wholesalers: Electronics and Office Equipment    20832.625000
                     Wholesalers: Food and Grocery                    19317.500000
Name: Employees, Length: 79, dtype: float64

In [20]:
df = pd.read_csv('Fortune1000.csv')

In [21]:
df.head(3)

,Rank,Company,Sector,Industry,Location,Revenue,Profits,Employees
0,1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
1,2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
2,3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [22]:
df = pd.read_csv('fortune1000.csv', index_col="Rank")

In [23]:
df

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
...,...,...,...,...,...,...,...
996,New York Community Bancorp,Financials,Commercial Banks,"Westbury, NY",1902,-47,3448
997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
999,Wendyâ€™s,"Hotels, Resturants & Leisure",Food Services,"Dublin, OH",1896,161,21200
1000,Briggs & Stratton,Industrials,Industrial Machinery,"Wauwatosa, WI",1895,46,5480