# DATA CLEANING

# SORTING

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('nba.csv')

In [5]:
df.shape

(457, 9)

In [6]:
df = df.dropna()

In [8]:
df.columns

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [9]:
df.sort_values('Name')

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
152,Aaron Brooks,Chicago Bulls,0.0,PG,31.0,6-0,161.0,Oregon,2250000.0
356,Aaron Gordon,Orlando Magic,0.0,PF,20.0,06-Sep,220.0,Arizona,4171680.0
328,Aaron Harrison,Charlotte Hornets,9.0,SG,21.0,06-Jun,210.0,Kentucky,525093.0
404,Adreian Payne,Minnesota Timberwolves,33.0,PF,25.0,06-Oct,237.0,Michigan State,1938840.0
312,Al Horford,Atlanta Hawks,15.0,C,30.0,06-Oct,245.0,Florida,12000000.0
...,...,...,...,...,...,...,...,...,...
141,Willie Cauley-Stein,Sacramento Kings,0.0,C,22.0,7-0,240.0,Kentucky,3398280.0
25,Willie Reed,Brooklyn Nets,33.0,PF,26.0,06-Oct,220.0,Saint Louis,947276.0
386,Wilson Chandler,Denver Nuggets,21.0,SF,29.0,06-Aug,225.0,DePaul,10449438.0
402,Zach LaVine,Minnesota Timberwolves,8.0,PG,21.0,06-May,189.0,UCLA,2148360.0
271,Zach Randolph,Memphis Grizzlies,50.0,PF,34.0,06-Sep,260.0,Michigan State,9638555.0

In [10]:
pwd

'C:\\Users\\hp\\OneDrive\\CLEAR\\3.A.PANDAS'

In [11]:
df = pd.read_csv(r'C:\\Users\\hp\\OneDrive\\CLEAR\\3.A.PANDAS\\nba.csv')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457 entries, 0 to 456
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      456 non-null    object
 1   Team      456 non-null    object
 2   Number    456 non-null    float64
 3   Position  456 non-null    object
 4   Age       456 non-null    float64
 5   Height    456 non-null    object
 6   Weight    456 non-null    float64
 7   College   372 non-null    object
 8   Salary    445 non-null    float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

In [14]:
df.shape

(457, 9)

In [13]:
df.isnull().sum()

Name         1
Team         1
Number       1
Position     1
Age          1
Height       1
Weight       1
College     85
Salary      12
dtype: int64

In [15]:
df = df.dropna()

In [16]:
df.shape

(363, 9)

In [22]:
df.columns

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [20]:
df.sort_values('Name')

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
152,Aaron Brooks,Chicago Bulls,0.0,PG,31.0,6-0,161.0,Oregon,2250000.0
356,Aaron Gordon,Orlando Magic,0.0,PF,20.0,06-Sep,220.0,Arizona,4171680.0
328,Aaron Harrison,Charlotte Hornets,9.0,SG,21.0,06-Jun,210.0,Kentucky,525093.0
404,Adreian Payne,Minnesota Timberwolves,33.0,PF,25.0,06-Oct,237.0,Michigan State,1938840.0
312,Al Horford,Atlanta Hawks,15.0,C,30.0,06-Oct,245.0,Florida,12000000.0
...,...,...,...,...,...,...,...,...,...
141,Willie Cauley-Stein,Sacramento Kings,0.0,C,22.0,7-0,240.0,Kentucky,3398280.0
25,Willie Reed,Brooklyn Nets,33.0,PF,26.0,06-Oct,220.0,Saint Louis,947276.0
386,Wilson Chandler,Denver Nuggets,21.0,SF,29.0,06-Aug,225.0,DePaul,10449438.0
402,Zach LaVine,Minnesota Timberwolves,8.0,PG,21.0,06-May,189.0,UCLA,2148360.0
271,Zach Randolph,Memphis Grizzlies,50.0,PF,34.0,06-Sep,260.0,Michigan State,9638555.0

In [24]:
df.sort_values('Team')

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
310,Tim Hardaway Jr.,Atlanta Hawks,10.0,SG,24.0,06-Jun,205.0,Michigan,1304520.0
319,Mike Scott,Atlanta Hawks,32.0,PF,27.0,06-Aug,237.0,Virginia,3333333.0
323,Jeff Teague,Atlanta Hawks,0.0,PG,27.0,06-Feb,186.0,Wake Forest,8000000.0
316,Mike Muscala,Atlanta Hawks,31.0,PF,24.0,06-Nov,240.0,Bucknell,947276.0
309,Kent Bazemore,Atlanta Hawks,24.0,SF,26.0,06-May,201.0,Old Dominion,2000000.0
...,...,...,...,...,...,...,...,...,...
380,Garrett Temple,Washington Wizards,17.0,SG,30.0,06-Jun,195.0,LSU,1100602.0
381,Marcus Thornton,Washington Wizards,15.0,SF,29.0,06-Apr,205.0,LSU,200600.0
382,John Wall,Washington Wizards,2.0,PG,25.0,06-Apr,195.0,Kentucky,15851950.0
368,Alan Anderson,Washington Wizards,6.0,SG,33.0,06-Jun,220.0,Michigan State,4000000.0
370,Jared Dudley,Washington Wizards,1.0,SF,30.0,06-Jul,225.0,Boston College,4375000.0

In [27]:
df.sort_values('Name',ascending= False)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
271,Zach Randolph,Memphis Grizzlies,50.0,PF,34.0,06-Sep,260.0,Michigan State,9638555.0
402,Zach LaVine,Minnesota Timberwolves,8.0,PG,21.0,06-May,189.0,UCLA,2148360.0
386,Wilson Chandler,Denver Nuggets,21.0,SF,29.0,06-Aug,225.0,DePaul,10449438.0
25,Willie Reed,Brooklyn Nets,33.0,PF,26.0,06-Oct,220.0,Saint Louis,947276.0
141,Willie Cauley-Stein,Sacramento Kings,0.0,C,22.0,7-0,240.0,Kentucky,3398280.0
...,...,...,...,...,...,...,...,...,...
312,Al Horford,Atlanta Hawks,15.0,C,30.0,06-Oct,245.0,Florida,12000000.0
404,Adreian Payne,Minnesota Timberwolves,33.0,PF,25.0,06-Oct,237.0,Michigan State,1938840.0
328,Aaron Harrison,Charlotte Hornets,9.0,SG,21.0,06-Jun,210.0,Kentucky,525093.0
356,Aaron Gordon,Orlando Magic,0.0,PF,20.0,06-Sep,220.0,Arizona,4171680.0
152,Aaron Brooks,Chicago Bulls,0.0,PG,31.0,6-0,161.0,Oregon,2250000.0

In [28]:
df.sort_values('College', ascending = False )

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
308,David West,San Antonio Spurs,30.0,PF,35.0,06-Sep,250.0,Xavier,1499187.0
114,Larry Nance Jr.,Los Angeles Lakers,7.0,PF,23.0,06-Sep,230.0,Wyoming,1155600.0
145,Duje Dukan,Sacramento Kings,26.0,PF,24.0,06-Sep,220.0,Wisconsin,525093.0
331,Frank Kaminsky III,Charlotte Hornets,44.0,C,23.0,7-0,240.0,Wisconsin,2612520.0
129,Jon Leuer,Phoenix Suns,30.0,PF,27.0,06-Oct,228.0,Wisconsin,1035000.0
...,...,...,...,...,...,...,...,...,...
256,Jason Terry,Houston Rockets,31.0,SG,38.0,06-Feb,185.0,Arizona,947276.0
167,Channing Frye,Cleveland Cavaliers,9.0,PF,33.0,06-Nov,255.0,Arizona,8193029.0
266,JaMychal Green,Memphis Grizzlies,0.0,PF,25.0,06-Sep,227.0,Alabama,845059.0
180,Mo Williams,Cleveland Cavaliers,52.0,PG,33.0,06-Jan,198.0,Alabama,2100000.0
287,Alonzo Gee,New Orleans Pelicans,15.0,SF,29.0,06-Jun,225.0,Alabama,1320000.0

In [29]:
df.columns

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [31]:
df.sort_values('Age',ascending=False)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
298,Tim Duncan,San Antonio Spurs,21.0,C,40.0,06-Nov,250.0,Wake Forest,5250000.0
304,Andre Miller,San Antonio Spurs,24.0,PG,40.0,06-Mar,200.0,Utah,250750.0
261,Vince Carter,Memphis Grizzlies,15.0,SG,39.0,06-Jun,220.0,North Carolina,4088019.0
101,Paul Pierce,Los Angeles Clippers,34.0,SF,38.0,06-Jul,235.0,Kansas,3376000.0
420,Nazr Mohammed,Oklahoma City Thunder,13.0,C,38.0,06-Oct,250.0,Kentucky,222888.0
...,...,...,...,...,...,...,...,...,...
85,Kevon Looney,Golden State Warriors,36.0,SF,20.0,06-Sep,220.0,UCLA,1131960.0
208,Myles Turner,Indiana Pacers,33.0,PF,20.0,06-Nov,243.0,Texas,2357760.0
192,Stanley Johnson,Detroit Pistons,3.0,SF,20.0,06-Jul,245.0,Arizona,2841960.0
122,Devin Booker,Phoenix Suns,1.0,SG,19.0,06-Jun,206.0,Kentucky,2127840.0
226,Rashad Vaughn,Milwaukee Bucks,20.0,SG,19.0,06-Jun,202.0,UNLV,1733040.0

In [32]:
df.sort_values('Weight')

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
152,Aaron Brooks,Chicago Bulls,0.0,PG,31.0,6-0,161.0,Oregon,2250000.0
263,Bryce Cotton,Memphis Grizzlies,8.0,PG,23.0,06-Jan,165.0,Providence,700902.0
286,Tim Frazier,New Orleans Pelicans,2.0,PG,25.0,06-Jan,170.0,Penn State,845059.0
183,Steve Blake,Detroit Pistons,22.0,PG,36.0,06-Mar,172.0,Maryland,2170465.0
440,Brian Roberts,Portland Trail Blazers,2.0,PG,30.0,06-Jan,173.0,Dayton,2854940.0
...,...,...,...,...,...,...,...,...,...
143,DeMarcus Cousins,Sacramento Kings,15.0,C,25.0,06-Nov,270.0,Kentucky,15851950.0
117,Robert Sacre,Los Angeles Lakers,50.0,C,27.0,7-0,270.0,Gonzaga,981348.0
56,Jahlil Okafor,Philadelphia 76ers,8.0,C,20.0,06-Nov,275.0,Duke,4582680.0
23,Brook Lopez,Brooklyn Nets,11.0,C,28.0,7-0,275.0,Stanford,19689000.0
188,Andre Drummond,Detroit Pistons,0.0,C,22.0,06-Nov,279.0,Connecticut,3272091.0

In [33]:
df.sort_values('Weight',ascending=False)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
188,Andre Drummond,Detroit Pistons,0.0,C,22.0,06-Nov,279.0,Connecticut,3272091.0
23,Brook Lopez,Brooklyn Nets,11.0,C,28.0,7-0,275.0,Stanford,19689000.0
56,Jahlil Okafor,Philadelphia 76ers,8.0,C,20.0,06-Nov,275.0,Duke,4582680.0
143,DeMarcus Cousins,Sacramento Kings,15.0,C,25.0,06-Nov,270.0,Kentucky,15851950.0
117,Robert Sacre,Los Angeles Lakers,50.0,C,27.0,7-0,270.0,Gonzaga,981348.0
...,...,...,...,...,...,...,...,...,...
440,Brian Roberts,Portland Trail Blazers,2.0,PG,30.0,06-Jan,173.0,Dayton,2854940.0
183,Steve Blake,Detroit Pistons,22.0,PG,36.0,06-Mar,172.0,Maryland,2170465.0
286,Tim Frazier,New Orleans Pelicans,2.0,PG,25.0,06-Jan,170.0,Penn State,845059.0
263,Bryce Cotton,Memphis Grizzlies,8.0,PG,23.0,06-Jan,165.0,Providence,700902.0
152,Aaron Brooks,Chicago Bulls,0.0,PG,31.0,6-0,161.0,Oregon,2250000.0

In [54]:
df = pd.read_csv('nba.csv')

In [55]:
df.head(3)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,06-Feb,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,06-Jun,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,06-May,205.0,Boston University,NaN

In [57]:
df.sort_values(["Team","Age"],ignore_index=True).head(5)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Dennis Schroder,Atlanta Hawks,17.0,PG,22.0,06-Jan,172.0,NaN,1763400.0
1,Tim Hardaway Jr.,Atlanta Hawks,10.0,SG,24.0,06-Jun,205.0,Michigan,1304520.0
2,Mike Muscala,Atlanta Hawks,31.0,PF,24.0,06-Nov,240.0,Bucknell,947276.0
3,Lamar Patterson,Atlanta Hawks,13.0,SG,24.0,06-May,225.0,Pittsburgh,525093.0
4,Walter Tavares,Atlanta Hawks,22.0,C,24.0,07-Mar,260.0,NaN,1000000.0

In [43]:
df.sort_values(['College', 'Salary'],ascending=[True,False]).head(20)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
180,Mo Williams,Cleveland Cavaliers,52.0,PG,33.0,06-Jan,198.0,Alabama,2100000.0
287,Alonzo Gee,New Orleans Pelicans,15.0,SF,29.0,06-Jun,225.0,Alabama,1320000.0
266,JaMychal Green,Memphis Grizzlies,0.0,PF,25.0,06-Sep,227.0,Alabama,845059.0
83,Andre Iguodala,Golden State Warriors,9.0,SF,32.0,06-Jun,215.0,Arizona,11710456.0
167,Channing Frye,Cleveland Cavaliers,9.0,PF,33.0,06-Nov,255.0,Arizona,8193029.0
356,Aaron Gordon,Orlando Magic,0.0,PF,20.0,06-Sep,220.0,Arizona,4171680.0
44,Derrick Williams,New York Knicks,23.0,PF,25.0,06-Aug,240.0,Arizona,4000000.0
201,Jordan Hill,Indiana Pacers,27.0,C,28.0,06-Oct,235.0,Arizona,4000000.0
212,Jerryd Bayless,Milwaukee Bucks,19.0,PG,27.0,06-Mar,200.0,Arizona,3000000.0
192,Stanley Johnson,Detroit Pistons,3.0,SF,20.0,06-Jul,245.0,Arizona,2841960.0
202,Solomon Hill,Indiana Pacers,44.0,SF,25.0,06-Jul,225.0,Arizona,1358880.0
18,Rondae Hollis-Jefferson,Brooklyn Nets,24.0,SG,21.0,06-Jul,220.0,Arizona,1335480.0
170,Richard Jefferson,Cleveland Cavaliers,24.0,SF,35.0,06-Jul,233.0,Arizona,947276.0
256,Jason Terry,Houston Rockets,31.0,SG,38.0,06-Feb,185.0,Arizona,947276.0
54,T.J. McConnell,Philadelphia 76ers,12.0,PG,24.0,06-Feb,200.0,Arizona,525093.0
123,Chase Budinger,Phoenix Suns,10.0,SF,28.0,06-Jul,209.0,Arizona,206192.0
249,James Harden,Houston Rockets,13.0,SG,26.0,06-May,220.0,Arizona State,15756438.0
92,Jeff Ayres,Los Angeles Clippers,19.0,PF,29.0,06-Sep,250.0,Arizona State,111444.0
244,Patrick Beverley,Houston Rockets,2.0,PG,27.0,06-Jan,185.0,Arkansas,6486486.0
163,Bobby Portis,Chicago Bulls,5.0,PF,21.0,06-Nov,230.0,Arkansas,1391160.0

In [49]:
df.sort_values?

In [60]:
newdf = df.sort_values(['College','Team','Salary'],ascending=[True,True,False],ignore_index=True).head(20)

In [61]:
newdf

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Mo Williams,Cleveland Cavaliers,52.0,PG,33.0,06-Jan,198.0,Alabama,2100000.0
1,JaMychal Green,Memphis Grizzlies,0.0,PF,25.0,06-Sep,227.0,Alabama,845059.0
2,Alonzo Gee,New Orleans Pelicans,15.0,SF,29.0,06-Jun,225.0,Alabama,1320000.0
3,Rondae Hollis-Jefferson,Brooklyn Nets,24.0,SG,21.0,06-Jul,220.0,Arizona,1335480.0
4,Channing Frye,Cleveland Cavaliers,9.0,PF,33.0,06-Nov,255.0,Arizona,8193029.0
5,Richard Jefferson,Cleveland Cavaliers,24.0,SF,35.0,06-Jul,233.0,Arizona,947276.0
6,Stanley Johnson,Detroit Pistons,3.0,SF,20.0,06-Jul,245.0,Arizona,2841960.0
7,Andre Iguodala,Golden State Warriors,9.0,SF,32.0,06-Jun,215.0,Arizona,11710456.0
8,Jason Terry,Houston Rockets,31.0,SG,38.0,06-Feb,185.0,Arizona,947276.0
9,Jordan Hill,Indiana Pacers,27.0,C,28.0,06-Oct,235.0,Arizona,4000000.0
10,Solomon Hill,Indiana Pacers,44.0,SF,25.0,06-Jul,225.0,Arizona,1358880.0
11,Jerryd Bayless,Milwaukee Bucks,19.0,PG,27.0,06-Mar,200.0,Arizona,3000000.0
12,Derrick Williams,New York Knicks,23.0,PF,25.0,06-Aug,240.0,Arizona,4000000.0
13,Aaron Gordon,Orlando Magic,0.0,PF,20.0,06-Sep,220.0,Arizona,4171680.0
14,T.J. McConnell,Philadelphia 76ers,12.0,PG,24.0,06-Feb,200.0,Arizona,525093.0
15,Chase Budinger,Phoenix Suns,10.0,SF,28.0,06-Jul,209.0,Arizona,206192.0
16,James Harden,Houston Rockets,13.0,SG,26.0,06-May,220.0,Arizona State,15756438.0
17,Jeff Ayres,Los Angeles Clippers,19.0,PF,29.0,06-Sep,250.0,Arizona State,111444.0
18,Bobby Portis,Chicago Bulls,5.0,PF,21.0,06-Nov,230.0,Arkansas,1391160.0
19,Patrick Beverley,Houston Rockets,2.0,PG,27.0,06-Jan,185.0,Arkansas,6486486.0