In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('fortune1000.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Rank       1000 non-null   int64
 1   Company    1000 non-null   object
 2   Sector     1000 non-null   object
 3   Industry   1000 non-null   object
 4   Location   1000 non-null   object
 5   Revenue    1000 non-null   int64
 6   Profits    1000 non-null   int64
 7   Employees  1000 non-null   int64
dtypes: int64(4), object(4)
memory usage: 62.6+ KB

In [5]:
df.head(4)

,Rank,Company,Sector,Industry,Location,Revenue,Profits,Employees
0,1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
1,2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
2,3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
3,4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000

In [7]:
type(df)

pandas.core.frame.DataFrame

# GROUP BY

In [13]:
groupedSectors = df.groupby('Sector')

In [14]:
type(Sectors)

pandas.core.groupby.generic.DataFrameGroupBy

In [15]:
len(groupedSectors)

21

In [28]:
df.columns

Index(['Rank', 'Company', 'Sector', 'Industry', 'Location', 'Revenue',
       'Profits', 'Employees'],
      dtype='object')

In [19]:
df.head(3)

,Rank,Company,Sector,Industry,Location,Revenue,Profits,Employees
0,1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
1,2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
2,3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [16]:
groupedSectors

In [18]:
groupedSectors.size()

Sector
Aerospace & Defense              20
Apparel                          15
Business Services                51
Chemicals                        30
Energy                          122
Engineering & Construction       26
Financials                      139
Food and Drug Stores             15
Food, Beverages & Tobacco        43
Health Care                      75
Hotels, Resturants & Leisure     25
Household Products               28
Industrials                      46
Materials                        43
Media                            25
Motor Vehicles & Parts           24
Retailing                        80
Technology                      102
Telecommunications               15
Transportation                   36
Wholesalers                      40
dtype: int64

In [23]:
df['Sector'].value_counts()

Financials                      139
Energy                          122
Technology                      102
Retailing                        80
Health Care                      75
Business Services                51
Industrials                      46
Food, Beverages & Tobacco        43
Materials                        43
Wholesalers                      40
Transportation                   36
Chemicals                        30
Household Products               28
Engineering & Construction       26
Hotels, Resturants & Leisure     25
Media                            25
Motor Vehicles & Parts           24
Aerospace & Defense              20
Apparel                          15
Telecommunications               15
Food and Drug Stores             15
Name: Sector, dtype: int64

In [25]:
groupedIndustry = df.groupby('Industry')

In [31]:
groupedIndustry.size().head(40)

Industry
Advertising, marketing                        2
Aerospace and Defense                        20
Airlines                                      9
Apparel                                      15
Automotive Retailing, Services               10
Beverages                                     9
Building Materials, Glass                     7
Chemicals                                    30
Commercial Banks                             28
Computer Peripherals                          4
Computer Software                            14
Computers, Office Equipment                   7
Construction and Farm Machinery               9
Diversified Financials                       15
Diversified Outsourcing Services             14
Education                                     3
Electronics, Electrical Equip.               13
Energy                                       14
Engineering, Construction                    14
Entertainment                                18
Financial Data Services                      19
Food Consumer Products                       20
Food Production                               9
Food Services                                12
Food and Drug Stores                         15
Forest and Paper Products                     5
General Merchandisers                        10
Health Care: Insurance and Managed Care      11
Health Care: Medical Facilities              14
Health Care: Pharmacy and Other Services     13
Home Equipment, Furnishings                  12
Homebuilders                                 12
Hotels, Casinos, Resorts                     13
Household and Personal Products              13
Industrial Machinery                         23
Information Technology Services              13
Insurance: Life, Health (Mutual)             10
Insurance: Life, Health (stock)              18
Insurance: Property and Casualty (Mutual)     7
Insurance: Property and Casualty (Stock)     28
dtype: int64

In [35]:
df['Industry'].value_counts()

Specialty Retailers: Other                  42
Utilities: Gas and Electric                 41
Chemicals                                   30
Mining, Crude-Oil Production                28
Insurance: Property and Casualty (Stock)    28
                                            ..
Railroads                                    5
Computer Peripherals                         4
Education                                    3
Mail, Package, and Freight Delivery          2
Advertising, marketing                       2
Name: Industry, Length: 73, dtype: int64

In [36]:
groupedSectors.max()

,Rank,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,,
Aerospace & Defense,987,Woodward,Aerospace and Defense,"Wichita, KS",96114,7608,197200
Apparel,917,Wolverine World Wide,Apparel,"Winston-Salem, NC",30601,3273,65300
Business Services,993,Western Union,Waste Management,"Troy, MI",19330,6328,216500
Chemicals,949,Westlake Chemical,Chemicals,"Wilmington, DE",48778,7685,52000
Energy,997,Xcel Energy,Utilities: Gas and Electric,"Washington, DC",246204,16150,75600
Engineering & Construction,994,Tutor Perini,Homebuilders,"Watsonville, CA",18114,803,92000
Financials,996,Zions Bancorp.,Securities,"Worcester, MA",210821,24442,331000
Food and Drug Stores,928,Whole Foods Market,Food and Drug Stores,"Woonsocket, RI",153290,5237,431000
"Food, Beverages & Tobacco",954,WhiteWave Foods,Tobacco,"Winston-Salem, NC",67702,7351,263000
Health Care,978,inVentiv Health,Wholesalers: Health Care,"York, PA",181241,18108,203500
"Hotels, Resturants & Leisure",999,Yum Brands,"Hotels, Casinos, Resorts","Wyomissing, PA",25413,5920,505000
Household Products,992,Vista Outdoor,Miscellaneous,"Zeeland, MI",78756,7036,110000
Industrials,1000,Zebra Technologies,Miscellaneous,"Wilmerding, PA",140389,4833,333000
Materials,986,Worthington Industries,"Packaging, Containers","Wyomissing, PA",22534,991,60000
Media,989,iHeartMedia,"Publishing, Printing","Sussex, WI",52465,8382,185000
Motor Vehicles & Parts,979,Wabash National,Motor Vehicles and Parts,"Van Buren Township, MI",152356,9687,215000
Retailing,973,hhgregg,Specialty Retailers: Other,"York, PA",482130,14694,2300000
Technology,990,salesforce.com,Semiconductors and Other Electronic Components,"Woburn, MA",233715,53394,411798
Telecommunications,786,Windstream Holdings,Telecommunications,"Stamford, CT",146801,17879,281450
Transportation,974,YRC Worldwide,"Trucking, Truck Leasing","Thomasville, NC",58363,7610,341240
Wholesalers,991,World Fuel Services,Wholesalers: Food and Grocery,"Waltham, MA",48681,1472,78500

In [37]:
groupedIndustry.max()

,Rank,Company,Sector,Location,Revenue,Profits,Employees
Industry,,,,,,,
"Advertising, marketing",355,Omnicom Group,Business Services,"New York, NY",15134,1094,74900
Aerospace and Defense,987,Woodward,Aerospace & Defense,"Wichita, KS",96114,7608,197200
Airlines,933,United Continental Holdings,Transportation,"St. George, UT",40990,7610,118500
Apparel,917,Wolverine World Wide,Apparel,"Winston-Salem, NC",30601,3273,65300
"Automotive Retailing, Services",511,Sonic Automotive,Retailing,"Richmond, VA",20862,597,30000
...,...,...,...,...,...,...,...
Waste Management,939,Waste Management,Business Services,"The Woodlands, TX",12961,753,40600
Wholesalers: Diversified,991,World Fuel Services,Wholesalers,"Waltham, MA",30380,1472,39600
Wholesalers: Electronics and Office Equipment,685,Tech Data,Wholesalers,"Tempe, AZ",43026,572,78500
Wholesalers: Food and Grocery,351,United Natural Foods,Wholesalers,"South San Francisco, CA",48681,687,51700
Wholesalers: Health Care,559,Patterson,Health Care,"St. Paul, MN",181241,1476,70400

In [41]:
groupedIndustry.min()

,Rank,Company,Sector,Location,Revenue,Profits,Employees
Industry,,,,,,,
"Advertising, marketing",186,Interpublic Group,Business Services,"New York, NY",7614,455,49200
Aerospace and Defense,24,B/E Aerospace,Aerospace & Defense,"Berwyn, PA",1923,-240,6955
Airlines,67,Alaska Air Group,Transportation,"Atlanta, GA",2142,118,4326
Apparel,91,Carter’s,Apparel,"Atlanta, GA",2204,82,5978
"Automotive Retailing, Services",136,Asbury Automotive Group,Retailing,"Bloomfield Hills, MI",4980,66,6700
...,...,...,...,...,...,...,...
Waste Management,221,Clean Harbors,Business Services,"Houston, TX",2117,-96,7227
Wholesalers: Diversified,92,Airgas,Wholesalers,"Atlanta, GA",1917,-502,500
Wholesalers: Electronics and Office Equipment,64,Arrow Electronics,Wholesalers,"Centennial, CO",3219,-44,2000
Wholesalers: Food and Grocery,57,Core-Mark Holding,Wholesalers,"Byron Center, MI",7652,52,6655
Wholesalers: Health Care,5,AmerisourceBergen,Health Care,"Chesterbrook, PA",4375,-135,7000

In [46]:
Sectors.sum()

                               Rank  Revenue  Profits  Employees
Sector
Aerospace & Defense            8870   357940    28742     968057
Apparel                        8757    95968     8236     346397
Business Services             31074   272195    28227    1361050
Chemicals                     15928   243897    22628     463651
Energy                        62199  1517809   -73447    1188927
Engineering & Construction    15147   153983     5304     406708
Financials                    63566  2217159   260209    3359948
Food and Drug Stores           6429   483769    16759    1395398
Food, Beverages & Tobacco     18629   555967    51417    1211632
Health Care                   31770  1614707   106114    2678289
Hotels, Resturants & Leisure  14039   169546    20697    2484245
Household Products            15749   234737    14428     646038
Industrials                   26988   497581    20764    1545229
Materials                     23343   259145     4428     638123
Media                         13976   220764    24347     550314
Motor Vehicles & Parts        11408   482540    25898    1082560
Retailing                     35651  1465076    47830    6227629
Technology                    56902  1377600   180473    3578949
Telecommunications             4877   461834    48637     832468
Transportation                18349   408508    44169    1536793
Wholesalers                   16845   444800     8233     525597

In [49]:
groupedIndustry.sum()

,Rank,Revenue,Profits,Employees
Industry,,,,
"Advertising, marketing",541,22748,1549,124100
Aerospace and Defense,8870,357940,28742,968057
Airlines,3747,158948,23800,391601
Apparel,8757,95968,8236,346397
"Automotive Retailing, Services",2883,113823,2550,174974
...,...,...,...,...
Waste Management,2884,30454,1718,119199
Wholesalers: Diversified,12922,176138,5193,233831
Wholesalers: Electronics and Office Equipment,2241,147906,1857,166661
Wholesalers: Food and Grocery,1367,111774,1166,115905
Wholesalers: Health Care,1156,444512,3361,156000

In [51]:
groupedIndustry['Revenue'].sum().head(20)

Industry
Advertising, marketing               22748
Aerospace and Defense               357940
Airlines                            158948
Apparel                              95968
Automotive Retailing, Services      113823
Beverages                            79396
Building Materials, Glass            25615
Chemicals                           243897
Commercial Banks                    623669
Computer Peripherals                 48950
Computer Software                   179112
Computers, Office Equipment         353781
Construction and Farm Machinery     120612
Diversified Financials              327075
Diversified Outsourcing Services     64829
Education                             7485
Electronics, Electrical Equip.      119365
Energy                               67749
Engineering, Construction            99774
Entertainment                       186276
Name: Revenue, dtype: int64

In [52]:
groupedIndustry['Employees'].sum()

Industry
Advertising, marketing                           124100
Aerospace and Defense                            968057
Airlines                                         391601
Apparel                                          346397
Automotive Retailing, Services                   174974
                                                  ...
Waste Management                                 119199
Wholesalers: Diversified                         233831
Wholesalers: Electronics and Office Equipment    166661
Wholesalers: Food and Grocery                    115905
Wholesalers: Health Care                         156000
Name: Employees, Length: 73, dtype: int64

In [53]:
df.head(10)

,Rank,Company,Sector,Industry,Location,Revenue,Profits,Employees
0,1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
1,2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
2,3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
3,4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
4,5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
5,6,UnitedHealth Group,Health Care,Health Care: Insurance and Managed Care,"Minnetonka, MN",157107,5813,200000
6,7,CVS Health,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
7,8,General Motors,Motor Vehicles & Parts,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000
8,9,Ford Motor,Motor Vehicles & Parts,Motor Vehicles and Parts,"Dearborn, MI",149558,7373,199000
9,10,AT&T,Telecommunications,Telecommunications,"Dallas, TX",146801,13345,281450

In [54]:
pd.set_option('display.max_rows', 500)

In [55]:
groupedIndustry['Revenue'].mean()

Industry
Advertising, marketing                            11374.000000
Aerospace and Defense                             17897.000000
Airlines                                          17660.888889
Apparel                                            6397.866667
Automotive Retailing, Services                    11382.300000
Beverages                                          8821.777778
Building Materials, Glass                          3659.285714
Chemicals                                          8129.900000
Commercial Banks                                  22273.892857
Computer Peripherals                              12237.500000
Computer Software                                 12793.714286
Computers, Office Equipment                       50540.142857
Construction and Farm Machinery                   13401.333333
Diversified Financials                            21805.000000
Diversified Outsourcing Services                   4630.642857
Education                                          2495.000000
Electronics, Electrical Equip.                     9181.923077
Energy                                             4839.214286
Engineering, Construction                          7126.714286
Entertainment                                     10348.666667
Financial Data Services                            5304.105263
Food Consumer Products                            11947.700000
Food Production                                   19661.777778
Food Services                                      7372.000000
Food and Drug Stores                              32251.266667
Forest and Paper Products                          4314.000000
General Merchandisers                             68432.000000
Health Care: Insurance and Managed Care           42124.818182
Health Care: Medical Facilities                   10649.857143
Health Care: Pharmacy and Other Services          11653.923077
Home Equipment, Furnishings                        5252.583333
Homebuilders                                       4517.416667
Hotels, Casinos, Resorts                           6237.076923
Household and Personal Products                   12267.076923
Industrial Machinery                               9883.913043
Information Technology Services                   12774.384615
Insurance: Life, Health (Mutual)                  18133.600000
Insurance: Life, Health (stock)                   13641.722222
Insurance: Property and Casualty (Mutual)         20526.000000
Insurance: Property and Casualty (Stock)          19572.392857
Internet Services and Retailing                   17275.733333
Mail, Package, and Freight Delivery               52908.000000
Medical Products and Equipment                     5828.312500
Metals                                             7137.500000
Mining, Crude-Oil Production                       6301.250000
Miscellaneous                                      6732.000000
Motor Vehicles and Parts                          20105.833333
Network and Other Communications Equipment         8978.357143
Oil and Gas Equipment, Services                    9203.000000
Packaging, Containers                              6622.812500
Petroleum Refining                                41498.352941
Pharmaceuticals                                   20864.666667
Pipelines                                         11563.000000
Publishing, Printing                               4926.857143
Railroads                                          9710.800000
Real estate                                        4183.200000
Scientific,Photographic and Control Equipment      5486.000000
Securities                                         4726.166667
Semiconductors and Other Electronic Components     7783.695652
Specialty Retailers: Apparel                       6831.944444
Specialty Retailers: Other                        12951.380952
Telecommunications                                30788.933333
Temporary Help                                     6943.200000
Tobacco                                           12132.200000
Transportation Equipment                           4771.000000
Transportation and Logistics                       6647.400000
Trucking, Truck Leasing                            3994.444444
Utilities: Gas and Electric                        8375.878049
Waste Management                                   6090.800000
Wholesalers: Diversified                           7045.520000
Wholesalers: Electronics and Office Equipment     18488.250000
Wholesalers: Food and Grocery                     18629.000000
Wholesalers: Health Care                          74085.333333
Name: Revenue, dtype: float64

In [58]:
groupedIndustry['Revenue','Employees'].mean().head(20)

<ipython-input-58-5af9e2cff407>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  groupedIndustry['Revenue','Employees'].mean().head(20)

                                       Revenue     Employees
Industry
Advertising, marketing            11374.000000  62050.000000
Aerospace and Defense             17897.000000  48402.850000
Airlines                          17660.888889  43511.222222
Apparel                            6397.866667  23093.133333
Automotive Retailing, Services    11382.300000  17497.400000
Beverages                          8821.777778  22123.000000
Building Materials, Glass          3659.285714  10283.714286
Chemicals                          8129.900000  15455.033333
Commercial Banks                  22273.892857  54965.142857
Computer Peripherals              12237.500000  43814.750000
Computer Software                 12793.714286  27771.142857
Computers, Office Equipment       50540.142857  66869.285714
Construction and Farm Machinery   13401.333333  34107.666667
Diversified Financials            21805.000000  21940.933333
Diversified Outsourcing Services   4630.642857  50595.000000
Education                          2495.000000  15585.000000
Electronics, Electrical Equip.     9181.923077  37214.076923
Energy                             4839.214286   5005.142857
Engineering, Construction          7126.714286  26293.142857
Entertainment                     10348.666667  21309.111111